{% extends "base.html.twig" %}
 {% block body %}
 <br><br>
 <section class="games">
 <table class="table">
 <thread class="thread-dark">
 <tr>
 <th scope="col">Code client</th>
 <th scope="col">Numero commande</th>
 <th scope="col">Date Commande</th>
 <th scope="col">Heure Commande</th>
 <th scope="col">Remise Commande</th>
  <th scope="col">Montant Commande</th>
 <th scope="col">Action</th>
 </tr>
 </thread>
 <tbody>
 {%for game in games %}
 <game>
 <tr>
 <th scope="row">{{game.getCodeCltCde}}</th>
<td>{{game.getNumCde()}}</td>
<td>{{game.getDateCde()}} </td>
<td>{{game.getHeureCde()}}</td>
<td>{{game.getRemiseCde()}}</td>
<td>{{game.getMntCde()}}</td>

<td><a href="{{path('jouet-edit',{'id': game.id}) }}" class="btn btn-primary">Editer</a>
<a href="{{path('jouet-supp',{'id': game.id}) }}" class="btn btn-danger">Supprimer</a>
 </td>
 </tr>
 </game>
 {% endfor %}
 </tbody>
 </table>
<a href="{{path('jouet-add') }}" class="btn btn-success">Ajouter un jouet</a>
 </section>
 {% endblock %}