{% extends "base.html.twig" %}
 {% block body %}
 <h3>Commande : </h3>
 <br><br>
 <section class="games">
 <table class="table">
 <thread class="thread-dark">
 <tr>
 <th scope="col">Code client</th>
 <th scope="col">Numero commande</th>
 <th scope="col">Date Commande</th>
 <th scope="col">Heure Commande</th>
 <th scope="col">Remise Commande</th>
  <th scope="col">Montant Commande</th>
 </tr>
 </thread>
 <tbody>
 <com>
 <tr>
 <th scope="row">{{com.getCodeCltCde().getDesClt()}}</th>
<td>{{com.getNumCde()}}</td>
<td>{{com.getDateCde()|date('d-m-Y')}} </td>
<td>{{com.getHeureCde()}}</td>
<td>{{com.getRemiseCde()}}</td>
<td>{{com.getMntCde()}}</td>
 </td>
 </tr>
 </com>
 </tbody>
 </table>
 </section>



 <h3>Lignes du Commande : </h3>
 <br><br>
  <section class="ligne">
 <table class="table">
 <thread class="thread-dark">
 <tr>
 <th scope="col">Les Jouets</th>
 <th scope="col">Prix Unitaire</th>
 <th scope="col">Qtité Acheté</th>
  <th scope="col">Remise</th>
  <th scope="col">Action</th>
 </tr>
 </thread>
 <tbody>
  {% for Li in Ligne %}
 <com>
 <tr>
 <th scope="row">{{Li.getCodeJouetLigne().getDesJouet()}}</th>
 <td>{{Li.getCodeJouetLigne().getPUJouet()}}</td>
<td>{{Li.getQteLigne()}}</td>
<td>{{Li.getRemiseLigne()}}</td>
 <td><a href="{{path('Ligne-edit',{'idc': com.id,'id': Li.id}) }}" class="btn btn-primary">Editer</a>
 <a href="{{path('Ligne-supp',{'idc': com.id,'id': Li.id},) }}" class="btn btn-danger">Supprimer</a>
</td>
 </tr>
 </com>
  {% endfor %}
 </tbody>
 </table>
 <a href="{{path('Ligne-add',{'id':com.id}) }}" class="btn btn-success">Ajouter une ligne</a>
<a href="{{path('listcommande') }}" class="btn btn-primary">Retourner au liste des commandes</a>
 </section>



  
 {% endblock %}