{% extends "base.html.twig" %}
{% form_theme formCom 'bootstrap_4_layout.html.twig' %}


{% block body %}
{{form_start(formCom)}}
{{form_row(formCom.num_cde,{'attr':{'placeholder':"Numero Commande"}})}}
{{form_row(formCom.remise_cde,{'attr':{'placeholder':"Remise"}})}}
{{form_row(formCom.mnt_cde,{'attr':{'placeholder':"Montant Commande"}})}}
{{form_row(formCom.code_clt_cde,{'attr':{'label':"Nom Client"}})}}
<button type="submit" class="btn btn-success">
{{form_end(formCom)}}
{% if editMode %}
Valider
{% else %}
Ajouter
{% endif %}
</button>
{% endblock %}
